<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
      <div class="wrapper">
        <p><small>* The Microsoft CMT service was used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support.</small></p>
      </div>
    </footer>

  </body>

</html>
